**/.ssh/
**/.gnupg/
**/*.key
**/*.pem
**/credentials*
**/.env
**/.env.*

**/.zsh_history
**/.bash_history
**/.lesshst
**/.viminfo

**/.cache/
**/.local/share/
**/.local/state/
**/plugged/
**/plugin/packer_compiled.lua

lvim/.config/lvim/plugin/
lvim/.config/lvim/.cache/

ghostty/.config/ghostty/auto/
ghostty/.config/ghostty/config.ghostty

.DS_Store
Thumbs.db
